h2 {
  color: rgb(157, 48, 207);
  font-family: arial;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

p {
  color: rgb(57, 10, 102)
}

h5 {
  color: grey;
  font-family: arial;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

form {
  color: grey;
  font-family: arial;
  text-align: center;
}

.form-inline {
  position: relative;
  width: 400px;
  /* max-width: 330px; */
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  height: 48px;
}

.form-group.mb-2 {
  width: 230px;
  padding-top: 8px
  
}

.btn.btn-secondary.active {
  position: relative;
}

.madeBy {
  Position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: orange;
  height: 20xp;
  padding: 15px;
  background-color: white;


}